*{
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html{
    --blue: #1C8CA6;
    --light-blue: #B1D6DE;
    --pink: #FEA291;
    --white:#FFFFFF;
    font-size: 62.5% /* 10px */;
}

body, html{
    height: 100vh;
    width: 100vw;
}

/*  header  */
header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: inline-block;
    align-items: center;
    justify-content: center;
    background-color: var(--white);
    /* font-size: 2.4rem; */
    font-family: comfortaa , sans-serif;
}

header p{
    font-size: 1.6rem ;
}

.nav-container{
    width: 100vw;
    display: flex;
    justify-content: center;
    justify-items: center;
}


.header-container{
    display: flex;
    justify-content: space-evenly;
    justify-self: center;
    /* padding-inline-start: 10%;
    padding-inline-end: 10%; */
    /* min-height: 50px; */
    width: 90%;
    margin: auto;
    /* max-width: 1200px; */
    min-width: 80%;
    padding-top: 10px;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: space-between;
}

.header-container div {
    /* margin-inline-start: 5%;
    margin-inline-end: 5%; */
    width: 30%;
    column-gap: 25%;
    column-fill: balance;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}




header .line{
    position: absolute;
    top: 98%;
    /* padding-top: 91px; */
    margin-left: 10%;
    width: 80%;
    height: 1px;
    border-bottom: 5px solid #8CC3D1;
    border-radius: 25px;
    
}

header img {
    display: block;
    margin: auto;
}

a{
    /* margin-left: auto;
    margin-right: auto; */
    color: var(--blue);
}


.line-container{
    display: flex;
    width: 100%;
    justify-content: space-between;
    /* column-gap: 20%; */
    flex-direction: row;
    align-items: flex-end;
    padding-inline-end: 10%;
    padding-inline-start: 10%;
}

.top-left {
    width: 30%;
    display: flex;
    align-items: left;
    justify-content: space-evenly;
    /* padding-inline-start: 100px; */
}

.top-right {
    width: 30%;
    display: flex;
    align-items: right;
    justify-content: space-between;
}

.logo{
    width:30%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo img{
    display:flex;
    position: absolute;
    max-width: 30%;
    max-height: 10vh;
    /* margin-left: -150px; */
    top: 0vh;
    /* left: 50%; */
    object-position: 50%;
    padding: .5rem;
    background-color: white;
    border-color: #8CC3D1;
    border-style: solid;
    border-width: 5px;
    border-top: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    flex-wrap: nowrap;
    flex-direction: row;
    align-content: flex-end;
    align-items: center;
    justify-content: center;
}

.menu{
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}
.menu-block{
    /* overflow: ; */
    font-size: 1.6rem;
    display: block;
    position: fixed;
    top: 4.8rem;
    left: 96rem;
    background-color: white;
    color: white;
    padding: 1rem;
    border-radius: 15px;
    border-top-left-radius:0 ;
    border-top-right-radius:0 ;
}
/* footer */

.footer-container {
    display: flex;
    justify-content: space-evenly;
    /* padding-inline-start: 100px; */
    /* padding-inline-end: 100px; */
    width: 100%;
    /* min-width: 80%; */
    /* padding-top: 10px; */
    justify-items: stretch;
}

.footer-logo {
    width: auto;
    /* column-gap: 300px;
    column-fill: balance; */
    display: inline-block;
    align-self: center;
}

.footer-container p {
    font-size: 1rem;
    max-width: 30%;
    display:flex;
    text-align: right;
    align-self: center;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    flex-wrap: wrap;

}
footer {
    background-color: var(--light-blue);
    font-size: 2.4rem;
    /* position: absolute; */
    bottom:0;
    left: 0;
    right: 0;
    height: 8vh;
    width:100%;
    border-top: .5rem solid var(--blue);
    display: flex;
    align-items: center;
    justify-content: center;
}

footer img {
    position: relative;
    max-width: 13.6rem;
    max-height: 3rem;
}

footer p {
    text-align: center;
    color: var(--blue);
    font-size: 1rem;
    position: absolute;
    right: 5%;
}

@media (max-width:550px){

    .nav-container{
        width: 100%;
    }

    .header-container{
        padding-top: 1rem;
        width: 100%;
        display: flex;
    }

    .header-container img{
        max-width: 100%;
        min-width: 80%;
        border-style: none;
    }

    .header-container p {
        display: none;
    }
    

    .header-container .logo{
        height: 100%;
        display:block;
        align-items: center;
        align-content: center;
        flex-direction: column;
        justify-content: center;
    }

    .header-container .logo img{
        position: relative;
        top: 0;
        width: 20%;
        border-radius: 0;
        align-self: center;
        display: flex;
        background-color: transparent;
        align-items: center;
        justify-content: center;
    }
}

@media (max-width: 350px){
    

    .header-container{
        padding-inline-end: .5rem;
        padding-inline-start: .5rem;

        width: 100vw;
        height: 10rem;
        display: flex;
        /* grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas:
            "logo tl tr"; */
        /* justify-content: space-around;
        flex-direction: row;
        align-content: center;
        align-items: center; */
    }

    .header-container img{
        max-width: 100%;
        min-width: 80%;
        border-style: none;
    }

    .header-container p {
        display: none;
    }
    




    .header-container a:hover{
        background-color: red;
    }



    .header-container .logo{
        width: 60%;
        height: 100%;
        display:block;
        align-items: center;
        align-content: center;
        flex-direction: column;
        justify-content: center;
    }

    .header-container .logo img{
        /* padding-top: 1rem; */
        position: relative;
        /* width: 15rem;
        min-width: 30px; */
        border-radius: 0;
    }
}