*{
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    
}

html{
    --blue: #1C8CA6;
    --light-blue: #B1D6DE;
    --pink: #FEA291;
    --white:#FFFFFF;
    font-size: 62.5% /* 10px */;
}

body, html{
    height: 100vh;
    width: 100vw;
}

/*  header  */
header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: inline-block;
    align-items: center;
    justify-content: center;
    background-color: var(--white);
    /* font-size: 2.4rem; */
    font-family: comfortaa , sans-serif;
}

header p{
    font-size: 1.6rem ;
}

button {
    background-color: transparent;
}

.nav-container{
   
    width: 100vw;
    display: flex;
    justify-content: center;
    justify-items: center;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}


.header-container{
    display: flex;
    justify-content: space-evenly;
    justify-self: center;
    /* padding-inline-start: 10%;
    padding-inline-end: 10%; */
    /* min-height: 50px; */
    width: 90%;
    height: 8rem;
    margin: auto;
    /* max-width: 1200px; */
    min-width: 80%;
    /* padding-top: 10px; */
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: space-between;
}

/* .header-container div {
    margin-inline-start: 5%;
    margin-inline-end: 5%;
    width: 30%;
    column-gap: 25%;
    column-fill: balance;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
} */




header .line{
    position: absolute;
    top: 98%;
    /* padding-top: 91px; */
    margin-left: 10%;
    width: 80%;
    height: 1px;
    border-bottom: 5px solid #8CC3D1;
    border-radius: 25px;
    shape-outside: 1;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.432);
    
}

header img {
    display: block;
    margin: auto;
    justify-content: center;
}

a{
    /* margin-left: auto;
    margin-right: auto; */
    color: var(--blue);
}


.line-container{
    display: flex;
    width: 100%;
    justify-content: space-between;
    /* column-gap: 20%; */
    flex-direction: row;
    align-items: flex-end;
    padding-inline-end: 10%;
    padding-inline-start: 10%;
}

.top-left {
    width: 30%;
    display: flex;
    align-items: left;
    justify-content: space-between;
    /* padding-inline-start: 100px; */
}

.top-right {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}



.logo{
    width:30%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo img{
    display:flex;
    position: absolute;
    max-width: 30%;
    max-height: 10vh;
    /* margin-left: -150px; */
    top: 0vh;
    /* left: 50%; */
    /* object-position: 50%; */
    padding: .5rem;
    background-color: white;
    border-color: #8CC3D1;
    border-style: solid;
    border-width: 5px;
    border-top: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    flex-wrap: nowrap;
    flex-direction: row;
    align-content: flex-end;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.menu {
    text-align: left;
    /* width: 100%; */
    background-color: none;
    position: relative;
    display: inline-block;

    /* float: left; */
    /* overflow: hidden; */
}

.header-container a:hover, .menu:hover .menu_btn {
    background-color: transparent;
}

.menu_content{
    display: none;
    position: absolute;
    top: 5rem;
    text-align: center;
    background-color: white;
    overflow: auto;
    min-width: 10rem;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 5px;
}

.menu_content a{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    justify-self: center;
}

.top-right .menu_btn{
    /* background-color: white; */
    color: var(--blue);
    /* padding-bottom: 1.6rem; */
    font-size: 1.6rem;
    border: none;
}

.menu_content a:hover {
    color: var(--blue);
    justify-content: left;
    transition: .5s;
    
}


.menu:hover .menu_content {
    /* margin-top: 3rem ; */
    display: block;
    align-items: center;
    left: -60%;
    
}


.menu:hover .menu_btn {
    background-color: transparent;
}

.menu-container{
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
}

.menu-container p {
    padding-left: 1rem;
    font-size: 1.2rem;
}

.menu-container img {
    filter: invert(0.4) sepia(1) saturate(20) hue-rotate(165.6deg) brightness(0);	
    width: 2rem;
}

.menu_content a:hover img {
    filter: invert(0.4) sepia(1) saturate(20) hue-rotate(165.6deg) brightness(0.8);
    transition: .2s;
    
}

.overlay{
    display:none ;
}


/* footer */

.footer-container {
    display: flex;
    justify-content: space-evenly;
    /* padding-inline-start: 100px; */
    /* padding-inline-end: 100px; */
    width: 100%;
    /* min-width: 80%; */
    /* padding-top: 10px; */
    justify-items: stretch;
    
    
}

.footer-logo {
    width: auto;
    /* column-gap: 300px;
    column-fill: balance; */
    display: inline-block;
    align-self: center;
    
}

.footer-container p {
    font-size: 1rem;
    max-width: 30%;
    display:flex;
    text-align: right;
    align-self: center;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    flex-wrap: wrap;
    

}
footer {
    background-color: var(--light-blue);
    font-size: 2.4rem;
    /* position: absolute; */
    bottom:0;
    left: 0;
    right: 0;
    height: 8vh;
    width:100%;
    border-top: .5rem solid var(--blue);
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    
}

footer img {
    position: relative;
    max-width: 13.6rem;
    max-height: 3rem;
}

footer p {
    text-align: center;
    color: var(--blue);
    font-size: 1rem;
    position: absolute;
    right: 5%;
}

.underline {
    background: #08a5c9;
    /* animation: createLine .25s; */
    padding-top: 5px;
    width: 0%; height: 5px;
    border-radius: 5px;;

}

@keyframes createLine {
    from {
        transform: scaleX(0);
    }
    to {
        transform: scaleX(1);
    }
}

.header-container a:hover .underline {
    display:flex;
    animation: createLine 0.25s;
    width:100%;
    align-self: center;
    
}

.header-container a:focus underline{
    width:100%;
}

.active{
    width: 100%;
}

@media (max-width:550px){

    html{
        font-size: 40%;
    }



    .overlay{
        display: flex;
    }

    .nav-container{
        width: 100%;
    }

    .header-container{
        padding-top: 1rem;
        width: 100%;
        display: flex;
    }

    .header-container img{
        max-width: 100%;
        min-width: 80%;
        border-style: none;
    }    

    .header-container .logo{
        /* height: 100%; */
        /* display:block; */
        align-items: center;
        align-content: center;
        flex-direction: column;
        justify-content: center;
    }

    

    .header-container .logo img{
        position: relative;
        top: 0;
        width: 20%;
        border-radius: 0;
        align-self: center;
        display: flex;
        background-color: transparent;
        align-items: center;
        justify-content: center;
        background-color: none;
        box-shadow: none;
    }

    .header-container p {
        display: none;
    }



    .menu:hover .menu_content {
        /* margin-top: 3rem ; */
        /* background-color: blue */
        display: block;
        align-items: center;
        left: -90%;
        top: 100%;
        
    }

    .top-right .menu_btn{
        /* background-color: white; */
        color: var(--blue);
        /* margin-top: 1.6rem; */
        font-size: 1.6rem;
        border: none;
    }

    .menu_container a:hover overlay{
        opacity: 1;
        display:flex;
    }

    
}

@media (max-width: 350px){

    html{
        font-size: 40%;
    }

    .header-container{
        padding-inline-end: .5rem;
        padding-inline-start: .5rem;

        width: 100vw;
        height: 10rem;
        display: flex;
        /* grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas:
            "logo tl tr"; */
        /* justify-content: space-around;
        flex-direction: row;
        align-content: center;
        align-items: center; */
    }

    .header-container img{
        max-width: 100%;
        min-width: 80%;
        border-style: none;
    }

    .header-container p {
        display: none;
    }
    
    .header-container .logo{
        width: 60%;
        height: 100%;
        display:block;
        align-items: center;
        align-content: center;
        flex-direction: column;
        justify-content: center;
    }

    .header-container .logo img{
        /* padding-top: 1rem; */
        position: relative;
        /* width: 15rem;
        min-width: 30px; */
        border-radius: 0;
    }


}