/* landing page */

li {
    list-style-type: none;
}

form {
    max-width: 100%;
}

.menu-bars{
    background-image: url(/assets/icons/menu_bars.png);
    height: 10%;
    width: 10%;
}


.container{
    width: 100vw;
    height: 100vh;
    margin: auto;
    background: url(/assets/background.png) no-repeat 50% 50%;
    top: 0;
    display: table;
    background-size: cover;
}

.container .landing-page{
    display: table-cell;
    vertical-align: middle;
    width: 1;
    max-width: 100vw;
}

.landing-page .title {
    margin: 0 auto;
    text-align: center;
}

.landing-page .title h1{
    font-family: 'Archivo',sans-serif;
    color: var(--white);
    font-size: 6rem;
    margin-bottom: 1.2rem;
}

.btn{
    border-radius: 2rem;
    color: var(--white);

    text-decoration: none;
    font-family: 'Poppins',sans-serif;
    font-size: 2.4rem;
    border: 1px solid;
    padding: 7px 13px;
}

.landing-page .title .btn:hover{
    color: var(--blue);
}

/* awards */

.mercado{
    display:flex;
    width: 100vw;
    height: 100vh;
    margin: auto;
    align-content: space-around;
    flex-direction: column;
    align-items: center;
}

.branco {
    width: 100%;
    height: 50%;
    background-color: var(--white);

    
    display: table;
}

.rosa
{
    display:flex;
    width: 100%;
    height: 50%;
    background-color: var(--pink);
    justify-content: center;
}

.branco .text {
    margin: auto;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    

    color: var(--pink);
}

.branco .text h1{
    font-size: 8rem;
    font-weight: bold;
    font-family: 'Archivo', sans-serif;
}

.branco .text h4{
    font-size: 3.2rem;
    font-weight: lighter;
    font-family: 'Poppins', sans-serif;
}

.rosa .awards {
    width: auto;
    min-width:50%;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

.rosa .awards .text p {
    padding: 4;
    font-size: 2rem;
    margin: 6rem;
    color: var(--white);
}

.rosa .awards .image-container{
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.rosa .awards .image-container img {
    margin: 1rem;
    width: auto;
}

.services{
    padding-top: 50rem;
    padding-bottom: 50rem;
    display: flex;
    width: 100vw;
    height: 100%;
    max-height: 100vh;
    margin: auto;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: space-around;
}

.services .title {
    padding: 9rem 12rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

.services .title h2 {
    color: var(--blue);

    font-size: 6.4rem;
    font-weight: bold;
    font-family: 'Archivo', sans-serif;
}

.services .title .line {
    height: 1px;
    width: 90%;
    margin-left: 2rem;
    border-radius: 5rem;
    background-color: var(--blue);
    border: .1rem solid var(--blue);
}

.services-header{
    width: 100vw;
    height: 10vh;
    max-height: 100vh;
    margin: auto;
}

.services-header .title {
    padding: 9rem 12rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

.services-header .title h2 {
    color: var(--blue);

    font-size: 6.4rem;
    font-weight: bold;
    font-family: 'Archivo', sans-serif;
}

.services-header .title .line {
    height: 1px;
    width: 90%;
    margin-left: 2rem;
    border-radius: 5rem;
    background-color: var(--blue);
    border: .1rem solid var(--blue);
}



.services .services-container {
    display: grid;
    margin: 10.5rem;
    grid-template-columns: repeat(3, minmax(320px, 1fr));
    grid-gap: 1rem;
    /* flex-direction: row;
    flex-wrap: nowrap;
    align-content: space-between;
    justify-content: space-evenly;
    align-items: stretch; */
    justify-items: stretch;
}

.services .services-container .types {
    background: rgba(196, 196, 196, 0.12);
    margin: 1.5rem;
    border-radius: .4rem;
    padding: 3rem;
    max-width: 100%;
}

.services .services-container .types .service-name {
    display: flex;
    align-items: center;
    margin-bottom: 4rem;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
}

.services .services-container .types .service-name img {
    max-width: 100%;
    margin-bottom: 1rem;
    margin-inline: 1rem;
}

.services .services-container .types .service-name p {
    font-size: 3.2rem;
    font-family: 'Archivo', sans-serif;
    color: var(--blue);
    margin-left: 1rem;
    text-align: center;
}

.services .services-container .types .service-name h1 {
    font-size: 2.6rem;
    font-family: 'comfortaa', sans-serif;
    color: var(--blue);
    /* margin-left: 1rem; */
    text-align: center;
    max-width: 100%;
}

.services .services-container .types p {
    font-size: 1.6rem;
    color: var(--blue);
    margin-bottom: 4rem;
}

.services .services-container .types a {
    font-size: 1.6rem;
    color: var(--blue);
}

.info{
    display:flex;
    width: 100vw;
    height: 100vh;
    /* margin: auto; */
    background-color: rgba(173, 216, 222, 1);
    padding: 10%;
}

.info .images-container{
    display: flex;
    flex-direction: column;
    max-width:25%;
    height: 100%;
    /* padding-top: 10px; */
    padding-bottom: 10px;
    /* background-color: red; */
    flex-wrap: nowrap;
}

.info .images-container img{
    width: auto;
    margin: 1rem auto;
    max-width: 80%;
    min-width: 50%;
    /* background-color: blue; */
    border-style: solid;
    border-color: white;
    border-width: 1em;
}

.info .info-container {
    width: 100%;
    height: 100%;
    display: flex;
    margin: 10.5rem;
    /* background-color: yellow; */
    vertical-align: middle;
    /* padding-inline: 10%; */
    align-content: center;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    flex-direction: column;
}

.info .info-container h1{
    font-size: 5rem;
    font-family: 'Archivo', sans-serif;
    color: var(--blue);
    /* margin-left: 1rem; */
    /* text-align: center; */
}

.info .content{
    display: flex;
    width: 100%;
    height: 90%;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
}

.content .info-container .line {
    height: 1px;
    width: 17rem;
    /* margin-left: -17rem; */
    /* margin-top: 6rem; */
    border-radius: 5rem;
    background-color: var(--blue);
    border: .1rem solid var(--white);
}

.content .info-container p{
    padding-top: 2rem;
    /* margin-left: 1rem; */
    font-size: 3.2rem;
    font-weight: lighter;
    font-family: 'Poppins', sans-serif;
    color: rgba(28, 140, 166, 1);
    /* transform: translate(-15rem) */
}

.info-now {
    width: 100vw;
    /* height: 100vh; */
    margin: auto;
    background-color: white;
    padding: 1;
}

.info-now .images-container{
    display: flex;
    flex-direction: column;
    max-width:30%;
    max-height: 100%;
    /* padding-top: 10px; */
    padding-bottom: 10px;
    /* background-color: red; */
    align-content: center;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: center;
}

.info-now .images-container img{
    width: auto;
    margin: 1rem auto;
    max-width: 80%;
    background-color: blue;
}

.info-now .info-container {
    width: 100%;
    height: 100%;
    display: flex;
    margin: 10.5rem;
    /* background-color: yellow; */
    vertical-align: middle;
    /* padding-top: 10%; */
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    align-content: center;
}

.info-now .info-container h1{
    width: 100%;
    font-size: 5rem;
    font-family: 'Archivo', sans-serif;
    color: var(--blue);
    /* margin-left: 1rem; */
    text-align: left;
}
.info-now .content .info-container p{
    /* padding-top: 15rem; */
    /* margin-left: 1rem; */
    font-size: 3.2rem;
    font-weight: lighter;
    font-family: 'Poppins', sans-serif;
    color: rgba(28, 140, 166, 1);
    /* transform: translate(-55rem) */
}

.info-now .content{
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    align-content: center;
    padding: 10%;
}

.news {
    display: flex;
    width: 100%;
    height: 100vh;

}

.news-container{
    display: flex;
    width: 50vw;
    height: 100vh;
    align-items: center;
    vertical-align: middle;
    background-color: rgba(254, 162, 145, 1);
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: column;
}

.news-container img{
    max-width: 100%;
    /* padding-top: 10px */
}

.subscribe-container{
    display: flex;
    flex-direction: column;
    width: 50vw;
    height: 100vh;
    vertical-align: middle;
    background-color: white;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
}

.subscribe-container h1{
    /* padding-top: 30%; */
    font-size: 7rem;
    font-family: 'Archivo', sans-serif;
    color: var(--blue);
    /* margin-left: 1rem; */
    text-align: center;
}

.subscribe-container p{
    /* padding-top: 15rem; */
    /* margin-left: 1rem; */
    text-align: center;
    font-size: 3.2rem;
    font-weight: lighter;
    font-family: 'Poppins', sans-serif;
    color: rgba(28, 140, 166, 1);
}



.email-container{
    display: flex;
    justify-content: center;

}

.email-container input[type=text] {
    justify-self: center;
    padding: 6px;
    margin-top: 8px;
    font-size: 1.7rem;
    border: none;
    background-color: rgba(177, 214, 222, 1);
}

.email-container button {
    float: right;
    padding: 6px;
    margin-top: 8px;
    /* margin-right: 20px; */
    background-color: rgba(28, 140, 166, 1);
    font-size: 1.7rem;
    border: none;
    cursor: pointer;
    color: white;
}

@media (max-width: 1190px) {
    html{
        font-size: 60%;
    }



    .services {
        display: flex;
        width: 100vw;
        height: 100%;
        max-height: 100vh;
        margin-bottom: 10%;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        flex-wrap: nowrap;
        align-content: space-around;
    }

    .services .services-container .types .service-name {
        display: flex;
        align-items: center;
        margin-bottom: 1rem;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between;
        align-content: center;
    }

    .services .services-container {
        display: flex;
        /* width: 100%;
        padding-top: 20rem;
        padding-bottom: 20rem; */
        flex-direction: column;
        flex-wrap: wrap;
        align-content: stretch;
        min-width: 234px;
        justify-content: center;
        align-items: stretch;
    }

    .services .services-container .types p {
        font-size: 1.6rem;
        color: var(--blue);
        margin-bottom: 2rem;
    }

    .services .services-container .types {
        display:table;
        background: rgba(196, 196, 196, 0.12);
        margin: 1.5rem;
        border-radius: .4rem;
        padding: 2rem;
        max-width: 100%;
        height: 50%;
    }

    .services .services-container .types .service-name img {
        max-width: 10%;
        margin-bottom: 1rem;
        margin-inline: 1rem;
    }

    .rosa .awards .image-container {
        display:flex;
        margin: 2rem;
        max-width: 65%;
        min-width: 50%;
        flex-direction: row;
        align-items: center;
        justify-items: center;
        justify-content: center;
    }

    .rosa .awards .image-container img{
        align-self: center;
        max-width: 20%;
        aspect-ratio: inherit;
    }

    .rosa .awards{
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-around;
        flex-wrap: nowrap;
    }

    .services-header {
        width: 100vw;
        height: 200%;
        max-height: 100vh;
        margin: auto;
    }

    .info {
        display: flex;
        width: 100vw;
        height: 100vh;
        /* margin: auto; */
        background-color: rgba(173, 216, 222, 1);
        padding: 10%;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        align-content: center;
    }

    .info .content {
        display: flex;
        width: 100%;
        height: 50%;
        flex-direction: column;
        flex-wrap: nowrap;
        align-content: center;
        align-items: center;
        justify-content: center;
    }

    .info .images-container {
        display: flex;
        flex-direction: row;
        max-width: 70%;
        max-height: 100%;
        /* background-color: red; */
        flex-wrap: nowrap;
        justify-content: center;
    }

    .info .info-container {
        width: 100%;
        height: 100%;
        display: flex;
        margin: 10.5rem;
        /* background-color: yellow; */
        vertical-align: middle;
        /* padding-inline: 10%; */
        align-content: center;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        flex-direction: column;
    }

    .content .info-container p {
        padding-top: 2rem;
        /* margin-left: 1rem; */
        font-size: 3.2rem;
        font-weight: lighter;
        font-family: 'Poppins', sans-serif;
        color: rgba(28, 140, 166, 1);
        /* transform: translate(-15rem); */
    }


    .subscribe-container h1 {
        /* padding-top: 30%; */
        font-size: 4rem;
        font-family: 'Archivo', sans-serif;
        color: var(--blue);
        /* margin-left: 1rem; */
        text-align: center;
    }

    form {
        display: flex;
        max-width: 100%;
        justify-content: center;
        margin-top: 0em;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
    }

    .subscribe-container p {
        /* padding-top: 15rem; */
        /* margin-left: 1rem; */
        text-align: center;
        font-size: 1.5rem;
        font-weight: lighter;
        font-family: 'Poppins', sans-serif;
        color: rgba(28, 140, 166, 1);
    }

    .news-container img {
        max-width: 70%;
        /* padding-top: 10px; */
    }

    .info-now .images-container img {
        width: auto;
        margin: 1rem auto;
        max-width: 100%;
        min-width: 80%;
        background-color: blue;
    }

    .info-now .content {
        display: flex;
        width: 100vw;
        height: 100vh;
        justify-content: center;
        flex-direction: row;
        align-items: center;
        align-content: center;
        padding: 5%;
    }

}

/* @media (max-width: 650px) {
    .news {
        display: flex;
        width: 100%;
        height: 100vh;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .news-container {
        display: flex;
        width: 100vw;
        height: 100vh;
        align-items: center;
        vertical-align: middle;
        background-color: rgba(254, 162, 145, 1);
        justify-content: center;
        align-content: center;
        flex-wrap: wrap;
        flex-direction: column;
    }

    .subscribe-container {
        display: flex;
        flex-direction: column;
        width: 100vw;
        height: 100vh;
        vertical-align: middle;
        background-color: white;
        justify-content: center;
        flex-wrap: wrap;
        align-content: center;
        align-items: center;
    }

    .news-container img {
        max-width: 50%;
        padding-top: 10px;
    }

    .footer-container p {
        width: 30vh;
        display:flex;
        text-align: right;
        align-self: center;
        flex-direction: column;
        align-items: baseline;
        justify-content: center;
        flex-wrap: wrap;
    }
    
} */

@media (max-width: 550px) {

    html{
        font-size: 40%;
    }


    .header-container{
        width: 100vw;
        height: 10rem;
        display: flex;
        /* grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas:
            "logo tl tr"; */
        /* justify-content: space-around;
        flex-direction: row;
        align-content: center;
        align-items: center; */
        align-items: center;
    }

    .header-container img{
        max-width: 100%;
        min-width: 80%;
        border-style: none;
    }

    .header-container p {
        display: none;
    }
    




    .header-container a:hover{
        background-color: red;
    }



    .header-container .logo{
        /* height: 100%; */
        /* display:block; */
        align-items: center;
        align-content: center;
        flex-direction: column;
        justify-content: center;
    }

    .header-container .logo img{
        /* padding-top: 1rem; */
        /* position: relative; */
        /* width: 15rem; */
        min-width: 15rem;
        border-radius: 0;
    }

    .rosa .awards .image-container {
        display: flex;
        margin: 2rem;
        max-width: 100%;
        flex-direction: row;
        align-items: center;
        justify-items: center;
        justify-content: center;
    }

    .services {
        display: flex;
        width: 100vw;
        height: 100%;
        max-height: 100vh;
        margin-bottom: 10%;

        padding-top: 0;
        padding-bottom: 0;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        flex-wrap: nowrap;
        align-content: space-around;
    }

    



    .services .services-container .types .service-name img {
        max-width: 10%;
        margin-bottom: 1rem;
        margin-inline: 1rem;
    }

    .services-header .title {
        /* margin: 9rem 12rem; */
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        align-content: center;
        flex-wrap: wrap;
    }

    .services-header .title .line {
        height: 1px;
        max-width: 36rem;
        min-width: 26rem;
        border-radius: 5rem;
        background-color: var(--blue);
        border: .1rem solid var(--blue);
    }

    .services-header {
        width: 100vw;
        height: 100%;
        margin: auto;
    }

    

    .services .services-container {
        display: flex;
        /* margin: 10.5rem; */
        flex-direction: column;
        flex-wrap: nowrap;
        align-content: center;
        align-items: stretch;
        min-width: 234px;
        justify-content: center;
    }

    .services .services-container .types {
        display: block;
        background: rgba(196, 196, 196, 0.12);
        /* margin: 1.5rem; */
        border-radius: .4rem;
        padding: 3rem;
        max-width: 100%;
        height: 20%;
    }

    .content {
        display: flex;
        width: 100vw;
        height: 100vh;
        justify-content: center;
        flex-direction: row;
        align-items: center;
        align-content: center;
        padding: 10%;
    }

    .content img {
        display: none;
    }

    .info {
        /* background: url(/assets/image1.png) no-repeat 50% 50%; */
        background-size: cover;
        display: flex;
        width: 100vw;
        height: 70vh;
        /* margin: auto; */
        /* background-color: rgba(173, 216, 222, 1); */
        padding: 10%;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        align-content: center;
    }

    .info-now .content {
        /* background: url(/assets/image4.png) no-repeat 50% 50%; */
        background-size: cover;
        background-blend-mode:color-burn;
        display: flex;
        width: 100vw;
        height: 70vh;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        align-content: center;
        padding: 10%;
    }

    .info .images-container {
        /* background: url(assets/image1.png); */
        background-size: cover;
        display: none;
        flex-direction: column;
        max-width: 70%;
        max-height: 100%;
        /* background-color: red; */
        flex-wrap: wrap;
        justify-content: center;
    }

    .info-now .images-container img {
        width: 100%;
        margin: 1rem auto;
        max-width: 100%;
        /* min-width: 80%; */
        background-color: blue;
    }

    .subscribe-container h1 {
        /* padding-top: 30%; */
        font-size: 5rem;
        font-family: 'Archivo', sans-serif;
        color: var(--blue);
        /* margin-left: 1rem; */
        text-align: center;
    }

    .subscribe-container p {
        /* padding-top: 15rem; */
        /* margin-left: 1rem; */
        text-align: center;
        font-size: 3rem;
        font-weight: lighter;
        font-family: 'Poppins', sans-serif;
        color: rgba(28, 140, 166, 1);
    }

    form {
        display: flex;
        justify-content: center;
        margin-top: 0em;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
    }

    .news {
        display: flex;
        width: 100%;
        height: 100vh;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .news-container {
        display: flex;
        width: 100vw;
        height: 100vh;
        align-items: center;
        vertical-align: middle;
        background-color: rgba(254, 162, 145, 1);
        justify-content: center;
        align-content: center;
        flex-wrap: wrap;
        flex-direction: column;
    }

    .subscribe-container {
        display: flex;
        flex-direction: column;
        width: 100vw;
        height: 100vh;
        vertical-align: middle;
        background-color: white;
        justify-content: center;
        flex-wrap: wrap;
        align-content: center;
        align-items: center;
    }

    .news-container img {
        max-width: 50%;
        /* padding-top: 10px; */
    }

    .info .info-container {
        width: 100%;
        height: 100%;
        display: flex;
        margin: 10.5rem;
        /* background-color: yellow; */
        vertical-align: middle;
        /* padding-inline: 10%; */
        align-content: center;
        justify-content: center;
        align-items: center;
        flex-wrap: nowrap;
        flex-direction: column;
    }


    



}




/* .container {
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: green;
}

/* .container-img {
    zoom: 1.334;
    display: flex;
    width: auto;
    height: auto;
    object-fit: fill;
    font-size: 1.6rem;
    font: arial;
}

.container-body{
    background-size: cover;
    width: 100%;
    height: 100vh;
    
}

.container-display{
    position: relative;
    width: 100%;
}

.display-middle-bottom{
    position: absolute;
    background-color: blue;
    top: 50%;
    left: 50%;
    bottom: 50%;
    transform: translate(-50%, 120px);
    -ms-transform: translate(-50%,0);
}

.display-middle{
    position: absolute;

    top: 45%;
    left: 50%;
    bottom: 50%;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    
}

.display-middle .title{
    width: 100vw;
    text-align: center;
    color: #FEA291;
}

.display-middle-bottom .button{
    color: white;
}
.display-middle-bottom .button:hover{
    color: black;
    background-color: white;
    border-color: white;
}

.title{
    width: 100%;
    font-style: bold;
    font-family: comfortaa;
    font-size: 90px;


}

.subtitle{
    color: #d87f70;
    position: absolute;    
    width: 100vw;
    text-align: center;
    font-style: bold;
    font-family: comfortaa;
    font-size: 40px;

    transform: translate(-50%, 12vh);
}

.container-half{
    text-align: center;
    justify-items: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 50vh;

    transform: translate(-50%,);
}
.container-half .title {
    background-color: transparent;
    position: absolute;   
    width: 100vw;
    text-align: center;
    font-style: bold;
    font-family: comfortaa;
    font-size: 100px;

    transform: translate(-50%,0);

}

.image-container{
    margin-inline-start: 15%;
    display: flex;
    grid-template-rows: auto;
    width: 70%;
    height: 200px;
    justify-content: space-evenly;

    transform: translate(0, 100px)
}

.image{
    width: 100%;
    height: 200px;
}

.text {
    color: rgb(59, 59, 59);
    justify-items: center;
    text-align: center;
    padding: auto, 5%;
    width: 50%;
    font-family: comfortaa;
    font-size: 30px;
    transform: translate(50%,5vh);
}

.text-container{
    
    background-color: rgba(196, 196, 196, 0.30);
    /* margin-inline-start:  
    margin: 2%;
    display: flex;
    /* grid-template-rows: 2; 
    /* background-color: black; 
    width: 25%;
    height: 80%;
    justify-content: space-evenly;

    border-radius: 30px;

}



.text-top{

    height: 70px;

    /* padding: 10px; 
    margin-inline-start: 10%;
    /* margin-top: 10%; 
    display:flex;
    text-align: center;
    /* justify-content: left; 
    /* background-color: red; *
    transform: translate(5%,80%);

    font-size: 30px;
    color: #12768d;
    
}

.text-middle{
    height: 400px;
    width: 400px;

    padding: 10px;
    /* margin-inline-start: 50%; 
    margin-top: 5%;
    display:flex;
    /* text-align: middle; 

    justify-content: start;
    /* background-color: red; 

    transform: translate(-50%,130px);

    font-size: 26px;
    color: #26a5c2;
    /* background-color: orange; 
}

.text-container .image{
    width: 70px;
    height: 70px;
    transform: translate(80%, 80%);
    /* background-color: red; 
}

.text-container .button{

    display: flex;
    width: auto;
    height: 50px;

    padding-bottom: 40px;

    font-size: 20px;

    transform: translate(-300px, 585px);
    
}
.button{
    color: rgb(73, 124, 218);
    transition: all 0.5s;
    width: 300px;
    text-align: center;
    padding: 10px;
    margin: 10px, 10px;
    border-radius: 30px;
    border-style: solid;
    font-size: 25px;
    cursor: pointer;
    
}
.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.3s;
    
  }
  
  .button span:after {
    content: '\2192';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.2s;
    
  }
  
  .button:hover span {
    padding-right: 25px;
    color: black;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
    color: black;
  }

  .button:hover{
    background-color: rgb(30, 165, 206);
    border-color: rgb(30, 165, 206);
  }


/* .rounded-container p {
    font-family: comfortaa;
    font-size: 25px;
    


} */
/* .container h1 {
    display: flex;
    flex
    width: 50%;
    font-size: 1.6rem;
    font: arial;
}

body {
  height: 9%;
  /* background-image: url("/assets/background.png"); 
  /* background-size: cover; 
  /* padding-top: 80px; 
  padding-bottom: 40px;
  background-color: rgb(250, 250, 250);
}

 */
