/*  header  */
header {
    width: 100%;
    
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: inline-block;
    align-items: center;
    justify-content: space-between;

    background-color: var(--white);
    font-size: 2.4rem;
    font-family: 'Archivo', sans-serif;


}


.header-container{
    display: flex;
    justify-content: space-between;
    padding-inline-start: 100px;
    padding-inline-end: 100px;
    width: 100%;
    min-width: 80%;
    padding-top: 10px;
}

.header-container div {
    width: auto;
    column-gap: 300px;
    column-fill: balance;
    display: flex;

}

.line{
    position: absolute;
    /* padding-top: 91px; */
    margin-left: 10%;
    width: 80%;
    height: 1px;
    border-bottom: 5px solid #8CC3D1;
    border-radius: 25px;
}

header img {
    display: block;
    margin: auto;
}

a{
    margin-left: auto;
    margin-right: auto;
    color: var(--blue);
}

.top-left {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.top-right {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo img{
    position: absolute;
    max-width: 300px;
    max-height: auto;
    margin-left: -150px;
    top: 0vh;
    left: 50%;

    object-position: center;

    padding: 15px;
    background-color: white;

    border-color: #8CC3D1;
    border-style: solid;
    border-width: 5px;
    border-top: none;
    
    border-top-left-radius: 0;
    border-top-right-radius: 0;

    border-bottom-left-radius: 20px ;
    border-bottom-right-radius: 20px ;
}

/* main */

main {
    height: 100%;
    min-height: 92vh;
    width: 100vw;

    background-image: url("/assets/background-socio.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}


.container .text {
    width: 40%;
    font-size: 1.6rem;
}

.container h2{
    background-color: var(--white);
    margin-bottom: 4.6rem;

    font-family: 'Archivo', sans-serif;
    font-size: 4.8rem;
}

.container .description{
    background-color: rgba(255, 255, 255, 0.7);
    margin-bottom: 4.6rem;
}

.achivements{
    display: flex;
    align-items: space-around;
    border-radius: 25px;
    background: rgba(255, 255, 255, 0.7);
    padding: 20px;
    width: auto;
    height: auto;
}

.description{
    border-radius: 25px;
    background: rgba(255, 255, 255, 0.7);
    padding: 30px;
    width: auto;
    height: auto;
}

.description p {
    font-size: auto;
}

.name {
    text-align: right;
    width: auto;
    border-style: none;
    border-radius: 30px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    background-color: white;
    font-size: 48px;
    margin-bottom: 4.6rem;
    margin-top: 15rem;

    padding-right: 1rem;

}

.grid-container{

    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto ;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 30px;

    border-radius: 25px;
    width: auto;
    height: 20%;

    margin-bottom: 10%;
}

.grid-container p{
    width: auto;
    height: auto;
    line-height: 30px;
    font-size: 2rem;
}
.grid-container > div {
    /* background-color: red; */
    text-align: start;
    padding: 10px 10px;
    font-size: 30px;
}

.item_text1{
    width: auto;
    grid-column-start: 2;
    grid-column-end: 4;
}

.item_text2{
    width: auto;
    grid-column-start: 5;
    grid-column-end: 8;
}

.item_text3{
    width: auto;
    grid-column-start: 2;
    grid-column-end: 4;
}

.item_text4{
    width: auto;
    grid-column-start: 5;
    grid-column-end: 8;
}

.icon1{
    margin-left: 10px;
}
.icon2{
    margin-left: 50px;
}
.icon3{
    margin-left: 10px
}
.icon4{
    margin-left: 50px;
}

.icon{
    display: center;
    
}

.icon img{
    width: 50px;
    display: center;
    margin-top: 5px;
}

.achivements img{
      width: 30px;
      height: auto;
  }

  .container .perfil {
      margin-top: 15rem;
      margin-right: 5rem;
      margin-left: 5rem;

  }


/* footer */
.footer-container {
    display: grid;
    justify-content: center;
    padding-inline-start: 100px;
    padding-inline-end: 100px;
    width: 100%;
    min-width: 80%;
    /* padding-top: 10px; */
}

.footer-logo {
    width: auto;
    /* column-gap: 300px;
    column-fill: balance; */
    display: inline-block;
    align-self: center;
}

.footer-container p {
    text-align: right;
    align-self: center;
}

footer {
    background-color: var(--light-blue);
    font-size: 2.4rem;

    /* position: fixed; */
    bottom:0;
    left: 0;
    right: 0;
    height: 8vh;
    width:100%;

    border-top: .5rem solid var(--blue);

    display: flex;
    align-items: center;
    justify-content: center;
}
footer img {
    position: relative;
    max-width: 13.6rem;
    max-height: 3rem;
}

footer p {
    color: var(--blue);
    font-size: 1rem;
    position: absolute;
    right: 5.6rem
}
