
/* main */

main {
    height: 100%;
    min-height: 92vh;
    width: 100vw;

    background-image: url("/assets/background-socio.png");
    background-size: cover;
    background-repeat: no-repeat;
}


.container {
    display: flex;
    align-items: center;
    justify-content: center;
}


.container .text {
    width: 40%;
    font-size: 1.6rem;
}

.container h2{
    background-color: var(--white);
    margin-bottom: 4.6rem;

    font-family: 'Archivo', sans-serif;
    font-size: 4.8rem;
}

.container .description{
    background-color: rgba(255, 255, 255, 0.7);
    margin-bottom: 4.6rem;
}

.achivements{
    display: flex;
    align-items: space-around;
    border-radius: 25px;
    background: rgba(255, 255, 255, 0.7);
    padding: 20px;
    width: auto;
    height: auto;
}

.description{
    border-radius: 25px;
    background: rgba(255, 255, 255, 0.7);
    padding: 30px;
    width: auto;
    height: auto;
}

.description p {
    font-size: auto;
}

.name {
    text-align: center-left;
    width: auto;
    border-style: none;
    border-radius: 30px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    background-color: white;
    font-size: 48px;
    margin-bottom: 4.6rem;
    margin-top: 15rem;

    padding-left: 1rem;
}

.grid-container{

    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto ;
    margin-right: 10px;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 30px;

    border-radius: 25px;
    width: auto;
    height: 20%;

    margin-bottom: 10%;
}

.grid-container p{
    width: auto;
    height: auto;
    line-height: 30px;
    font-size: 2rem;
}
.grid-container > div {
    /* background-color: red; */
    text-align: start;
    padding: 10px 10px;
    font-size: 30px;
}

.item_text1{
    width: auto;
    grid-column-start: 2;
    grid-column-end: 4;
}

.item_text2{
    width: auto;
    grid-column-start: 5;
    grid-column-end: 8;
}

.item_text3{
    width: auto;
    grid-column-start: 2;
    grid-column-end: 4;
}

.item_text4{
    width: auto;
    grid-column-start: 5;
    grid-column-end: 8;
}

.icon1{
    margin-left: 10px;
}
.icon2{
    margin-left: 50px;
}
.icon3{
    margin-left: 10px
}
.icon4{
    margin-left: 50px;
}

.icon{
    display: center;
    
}

.icon img{
    width: 50px;
    display: center;
    margin-top: 5px;
}

.achivements img{
    width: 30px;
    height: auto;
}

.container .perfil {
    margin-top: 15rem;
    margin-right: 5rem;
}